:root {
    --padding-top: 10px;
    --filter:drop-shadow(1px 1px 1px rgb(163, 162, 162));
}

body{
    background-color: rgb(221, 217, 217);
}
/* размер блока шапка*/
.A{
    width: 760px; 
    margin: 0 auto;
    filter: var(--filter);
}
/* рамка шапки*/
.B{
    border: 3px solid #355e75 ;
    border-radius: 20px;
    filter: var(--filter);
}

.foto{
    float: left;
    margin: 10px 0px 10px 80px;
    width: 150px;
    border: 3px solid #355e75 ;
    border-radius: 80px;
    filter: var(--filter);
}
/*оформление текста в шапке*/
.text{
    color:#355e75;
    font-size: 80px;
    font-weight: 700;
    filter: var(--filter);
}
.text2{
    filter: var(--filter);
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
 /*отступ от блока шапка*/
.content{
    padding-top:var(--padding-top);
    
}
/*оформление левой колонки*/
.C {
    filter: var(--filter);
    color: white;
    padding-left: 20px;
    padding-top: var(--padding-top);
    width: 280px;
    height: 600px;
    float: left;
    border: 3px solid #355e75 ;
    border-radius: 20px;
    background: #355e75;
}
/*оформление заголовка в левой колонке*/
.I{
    font-size:30px;
}
/*оформление правой колонки*/
.D {
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    filter: var(--filter);
    padding-left:20px;
    padding-top:var(--padding-top);
    width: 418px;
    height: 600px;
    float: left;
    border: 3px solid #355e75 ;
    border-radius: 20px;
}
/*оформление заголовка в правой колонке*/
.F{
    font-weight: 550;
    font-size:30px;
    color:  #355e75;
}

.list{
    color: black;
    padding-left: 10px;
}

a{
    text-decoration: none;
    color: white;
}

.F:hover{
    font-size:33px;
    transition: 2s;
}

.I:hover{
    font-size:33px;
    transition: 2s;
}
